<h1 align="center">Welcome to
  <%= @user.username %>'s blog</h1>

  <h3 align="center">
    <%= @user.username %>'s blogs</h3>
    <div class="center">
      <%= will_paginate @user_posts %>
    </div>
    <%= render 'posts/post', obj: @user.posts %>
    <div class="center">
        <%= will_paginate @user_posts %>
    </div>
